body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html,body {
  height: 100%;
  width: 100%;
}
a:hover,a:focus{
  text-decoration: none !important;
  cursor: pointer;
  color: #26c8a0 !important;

}
#root {
  height: 100%;
  /* width: 100%; */
}